.card {
  background: rgba(238, 238, 227, 0.787);
  margin: auto;
  margin-top: 50px;
  height: 150px;
  width: 200px;
  backdrop-filter: blur(6px);
  border: 10px solid #1c1d1c;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.096) 0px 7px 29px 0px;
  border: 3px solid black;
  color: #000000;
  opacity: 60%;
}
